<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Contact</h2>
			<p>I always enjoy having a coffee and talking to people. If you want to contact me: you know my first name and you know the site domain: that's my email. <span class="icon far fa-smile"></span></p>
		</header>
		<ul class="actions vertical">
			<li><a href="#" class="button fit special">Activate</a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>
