<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>The Source</h2>
			<p>My name is Joost de Vries. <br/>
				I work as a functional reactive developer in Scala, Kotlin & Typescript. Recently mostly on Kubernetes on AWS.<br/>
				 Currently as an independent contractor at Port of Rotterdam. <br/>
				  I like to sing, run, play the saxophone, hike. And I like books.
				</p>
		</header>
		<ul class="icons major">
			<li><div class="tooltip"><a href="{{ site.twitter_url }}" class="icon fa-twitter major style1" target="_blank"></a><span class="tooltiptext">Twitter: what's going on in technology that interests me</span></div>
			</li>
			<li><div class="tooltip"><a href="{{ site.github_url }}" class="icon fa-github  major style2" target="_blank"></a><span class="tooltiptext">Github: code! Although most of my professional code is proprietary.</span></div>
			</li>
			<li><div class="tooltip"><a href="{{ site.linkedin_url }}" class="icon fa-linkedin major style3" target="_blank"></a><span class="tooltiptext">And of course Linkedin.</span></div>
			</li>
		</ul>
	</div>
</section>
