<!--
	Hello Human! Welcome to the source.

	My motto is 'View the source'. And since you're reading this, yours as well apparently. 
	Welcome fellow sourcerer!

	I mean 'view source': as in the famliar option in a browser to look under the covers. See the code that makes a website tick. Learn how others solved problems.
	But also very much as in open source, often on Github; read issues, read test code, understand how it solves problems.
	And of course: code is written once, but read many times. So understandability, and _obvious_ correctness is paramount.

	Hence the name 'The Source IT'. Kvk 73917737

	And: I'm a _fount_ of knowledge. :-)
-->